.App {
  text-align: center;
  padding: 50px;
  font-family: "Poppins", sans-serif;
}

.menu {
  margin-bottom: 40px;
}

.nav-btn {
  display: inline-block;
  background: #ff3366;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 10px;
  text-decoration: none;
  font-weight: 600;
  transition: opacity 0.3s;
}

.nav-btn:hover {
  opacity: 0.8;
}
